<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{% static 'balls/favicon.ico' %}"/>
    <title>American Pool Shop</title>
</head>

<body>
    <div class="row frame1">
        <div class="col-md-8">
            <table>
                <tr>

                    <td>

                        <img src="{% static 'balls/logo.png' %}" width="100" height="100"></td>
                    <td>
                        <h1>Pool Haven</h1>
                        <h4>Pool Accessories.</h4>
                    </td>
                </tr>
            </table>


        </div>
        <div class="col-md-4">
            <button class="right">Register</button>
            <br>
            <br>
            <button class="right">Login</button>
        </div>
    </div>


    <div class="row banner">
        <h5 class="textc">These are the items we currently have to offer. You will definitely find something interesting here.</h5>
    </div>

    <div class="row frame">
        <div class="col-md-2 container">
            <img class="center image" src="{% static 'balls/1ball.jpg' %}" alt="1 ball" width="100" height="100">
            <img class="center overlay" src="{% static 'balls/buyme.jpg' %}" alt="" width="100" height="100">
        </div>
        <div class="col-md-10">
            <h5>One Ball</h5>
            <p>If you only need One Ball :)</p>
            <p class="price">10$</p>
            <button>BUY</button>
        </div>
    </div>
    <div class="row frame">
        <div class="col-md-2 container">
            <img class="center image" src="{% static 'balls/2ball.jpg' %}" alt="2 ball" width="100" height="100">
            <img class="center overlay" src="{% static 'balls/buyme.jpg' %}" alt="" width="100" height="100">
        </div>
        <div class="col-md-10">
            <h5>Two Ball</h5>
            <p>If you only need a Two Ball</p>
            <p class="price">10$</p>
            <button>BUY</button>
        </div>
    </div>
    <div class="row frame">
        <div class="col-md-2 container">
            <img class="center image" src="{% static 'balls/3ball.jpg' %}" alt="3 ball" width="100" height="100">
            <img class="center overlay" src="{% static 'balls/buyme.jpg' %}" alt="" width="100" height="100">
        </div>
        <div class="col-md-10">
            <h5>Three Ball</h5>
            <p>If you only need a Three Ball</p>
            <p class="price">10$</p>
            <button>BUY</button>
        </div>
    </div>
    <div class="row frame">
        <div class="col-md-2 container">
            <img class="center image" src="{% static 'balls/4ball.jpg' %}" alt="4 ball" width="100" height="100">
            <img class="center overlay" src="{% static 'balls/buyme.jpg' %}" alt="" width="100" height="100">
        </div>
        <div class="col-md-10">
            <h5>Four Ball</h5>
            <p>If you only need a Four Ball</p>
            <p class="price">10$</p>
            <button>BUY</button>
        </div>
    </div>
    <div class="row frame">
        <div class="col-md-2 container">
            <img class="center image" src="{% static 'balls/5ball.jpg' %}" alt="5 ball" width="100" height="100">
            <img class="center overlay" src="{% static 'balls/buyme.jpg' %}" alt="" width="100" height="100">
        </div>
        <div class="col-md-10">
            <h5>Five Ball</h5>
            <p>If you only need a Five Ball</p>
            <p class="price">10$</p>
            <button>BUY</button>
        </div>
    </div>
    <div class="row frame">
        <div class="col-md-2 container">
            <img class="center image" src="{% static 'balls/6ball.jpg' %}" alt="6 ball" width="100" height="100">
            <img class="center overlay" src="{% static 'balls/buyme.jpg' %}" alt="" width="100" height="100">
        </div>
        <div class="col-md-10">
            <h5>Six Ball</h5>
            <p>If you only need a Six Ball</p>
            <p class="price">10$</p>
            <button>BUY</button>
        </div>
    </div>
    <div class="row frame">
        <div class="col-md-2 container">
            <img class="center image" src="{% static 'balls/7ball.jpg' %}" alt="7 ball" width="100" height="100">
            <img class="center overlay" src="{% static 'balls/buyme.jpg' %}" alt="" width="100" height="100">
        </div>
        <div class="col-md-10">
            <h5>Seven Ball</h5>
            <p>If you only need a Seven Ball</p>
            <p class="price">10$</p>
            <button>BUY</button>
        </div>
    </div>
    <div class="row frame">
        <div class="col-md-2 container">
            <img class="center image" src="{% static 'balls/8ball.jpg' %}" alt="8 ball" width="100" height="100">
            <img class="center overlay" src="{% static 'balls/buyme.jpg' %}" alt="" width="100" height="100">
        </div>
        <div class="col-md-10">
            <h5>Eight Ball</h5>
            <p>If you only need an Eight Ball</p>
            <p class="price">10$</p>
            <button>BUY</button>
        </div>
    </div>
    <div class="row frame">
        <div class="col-md-2 container">
            <img class="center image" src="{% static 'balls/9ball.jpg' %}" alt="9 ball" width="100" height="100">
            <img class="center overlay" src="{% static 'balls/buyme.jpg' %}" alt="" width="100" height="100">
        </div>
        <div class="col-md-10">
            <h5>Nine Ball</h5>
            <p>If you only need a Nine Ball</p>
            <p class="price">10$</p>
            <button>BUY</button>
        </div>
    </div>
    <div class="row frame">
        <div class="col-md-2 container">
            <img class="center image" src="{% static 'balls/rack.jpg' %}" alt="rack of balls" width="100" height="100">
            <img class="center overlay" src="{% static 'balls/buyme.jpg' %}" alt="" width="100" height="100">
        </div>
        <div class="col-md-10">
            <h5>American Pool Balls Set</h5>
            <p>A full set of brand new, shiny American Pool balls. Using these will make you stand out.</p>
            <p class="price">120$</p>
            <button>BUY</button>
        </div>
    </div>


    <div class="row frame">
        <form>
            <img src="{% static 'balls/logo.png' %}" width="50" height="50">
            <label>First Name:</label>
            <input type="text">
            <label>Last Name:</label>
            <input type="text">
            <label>Email Address:</label>
            <input type="text">
            <button>SUBMIT</button>

        </form>
    </div>



</body>

</html>
