{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="container">
    <div class="row justify-content-center">
        <h3 class="d-flex justify-content-center">Your Journeys</h3>
</div>
            <div class="row justify-content-center">
        <div class="col-12">
{% for j in journeys %}
            <div class="py-1">
                <div class="row border border-dark">
                    <div class="col-12">
                        <div class="row d-flex  py-2">
                    <div class="col-1 d-flex align-items-center p-2">
                        <img src="{% static 'balls/globe.png' %}" width="30" height="30">
                    </div>

                    <div class="col ps-3 p-2 d-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#mainelement{{ j.id }}" aria-expanded="false" aria-controls="mainelement{{ j.id }}">
                        {{  j.name }}
                    </div>
                <div class="col-3 d-flex flex-column p-1 ">
                    <div>{{ j.start_date|date:"d-m-Y" }}</div>
                    <div>                        {{ j.end_date|date:"d-m-Y" }}                    </div>

                </div>
                <div class="col-3 d-flex flex-wrap justify-content-end align-items-center">
                    <form action="/view_journey" method="post">
                                    {% csrf_token %}
                                    <input type="hidden"  name="journey_id" value="{{ j.pk }}">
                                    <input type="submit" class="submit_btn btn col border-dark" value="&#x2630;">
                                </form>
                    <form action="/edit_journey" method="post">
                                    {% csrf_token %}
                                    <input type="hidden"  name="journey_id" value="{{ j.pk }}">
                                    <input type="submit" class="submit_btn btn col border-dark" value="&#9998;">
                                </form>


                </div>
            </div>
                    <div class="row border-bottom p-2 collapse"  id="mainelement{{ j.id }}">

<div class="col flex-wrap">

                                    {% for  key, values in names.items %}
                            {% for  v in values %}
                            {% if key == j.id %}
                            {{ v }}   |
                            {% endif %}
                            {% endfor %}
{% endfor %}
                    </div>
<div class="col">
                        <form  class="row" action="/journey_planner" method="post">
                                    {% csrf_token %}
                                                <input class="col" type="text"   name="extra_user">
                                    <input class="col-3" type="hidden"  name="journey_id" value="{{ j.pk }}">
                                    <input type="submit" class="submit_btn btn col border border-dark" value="Add User">
                                </form>
                    </div>




                </div>
                    </div>


                </div>


</div>



            {% endfor %}
            <div class="py-3">
                <div class="row ">
<div class="col ">
<form class="" action="/edit_journey" method="post">
                                    {% csrf_token %}
                                    <input type="hidden"  name="journey_id" value="0">
    <input type="hidden" name="save_data" value="false">
                <input type="hidden" name="delete_data" value="false">
    <div  class="d-grid gap-2">

        <input type="submit" class="submit_btn btn border border-dark" value="Create New">

    </div>
                                     </form>
</div>
                </div>

            </div>
        </div>
                </div>
        </div>
<div>
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>
{% endblock %}
