{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <h3 class="d-flex justify-content-center">
            {{ journey.name }}        </h3>
        <row class="d-flex  justify-content-between">
            <col-8>
                <h5 class="d-flex ">
            {{ journey.start_date|date:"d-m-Y" }}
            {% if  journey.end_date %}
            - {{ journey.end_date|date:"d-m-Y" }}
            {% endif %}
        </h5>
                <p class="d-flex ">
            Total cost: {{cost}}
        </p>
            </col-8>
            <col-4>
                <form  action="/map_search" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="save_data" value="false">

        <input type="hidden"  name="journey_id" value="{{ journey.pk }}">
                                    <input type="hidden"  name="point_id" value="0">

                                    <input  type="image"   src="{% static 'balls/globe.png' %}" width="65" height="60">
                                </form>
            </col-4>
        </row>


</div>
    <div class="row justify-content-center">
        <div class="col-12">
    {% for  d in dates %}
    <div class="p-1">
        <div class="row border border-dark  calendar">
        <div class="col-2 p-1 border small" >
{{ d|date:"d M (D)" }}
        </div>

            <div class="col-10 ">
                {% for  p in assigned %}
                {% if  d == p.start_date.date %}
                <div class="row py-1 border border-dark shadow {% if p.status.id == 1 %} statDefault {% elif p.status.id == 2 %} statTodo {% else %} statDone {% endif %}">

                    <div class="col-2 small " data-bs-toggle="collapse" data-bs-target="#mainelement{{ p.id }}" aria-expanded="false" aria-controls="mainelement{{ p.id }}">
                        {{ p.start_date|date:"H:i" }} -  {{ p.end_date|date:"H:i" }}
                    </div>
                    <div class="col-6 " data-bs-toggle="collapse" data-bs-target="#mainelement{{ p.id }}" aria-expanded="false" aria-controls="mainelement{{ p.id }}">
                        {{ p.name }}
                    </div>
                    <div class="col-4 d-flex flex-wrap justify-content-end px-1">

        <form  action="/view_journey" method="post">
                                    {% csrf_token %}
            <input type="hidden" name="plus_date" value="0">
            <input type="hidden" name="minus_date" value="{{ p.pk }}">
            <input type="hidden" name="p_date" value="{{ p.start_date|date:'d-m-Y' }}">
            <input type="hidden"  name="assign_point" value=0>
                                    <input type="hidden"  name="unassign_point" value="0">
            <input type="hidden"  name="journey_id" value="{{ journey.pk }}">
                                    <input type="submit" class="submit_btn btn col border border-dark butW" value="&uarr;">
                                </form>

        <form  action="/view_journey" method="post">
                                    {% csrf_token %}
            <input type="hidden" name="plus_date" value="{{ p.pk }}">
            <input type="hidden" name="minus_date" value="0">
            <input type="hidden" name="p_date" value="{{ p.start_date|date:'d-m-Y' }}">
            <input type="hidden"  name="assign_point" value=0>
                                    <input type="hidden"  name="unassign_point" value="0">
            <input type="hidden"  name="journey_id" value="{{ journey.pk }}">
                                    <input type="submit" class="submit_btn btn col border border-dark butW" value="&darr;">
                                </form>

        <form  action="/view_journey" method="post">
                                    {% csrf_token %}
            <input type="hidden" name="plus_date" value="0">
            <input type="hidden" name="minus_date" value="0">
            <input type="hidden"  name="assign_point" value=0>
                                    <input type="hidden"  name="unassign_point" value="{{ p.pk }}">
            <input type="hidden"  name="journey_id" value="{{ journey.pk }}">
                                    <input type="submit" class="submit_btn btn col border border-dark butW" value="&#8650;">
                                </form>

    <form  action="/edit_point" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="save_data" value="false">
                <input type="hidden" name="delete_data" value="false">
        <input type="hidden"  name="journey_id" value="{{ journey.pk }}">
                                    <input type="hidden"  name="point_id" value="{{ p.pk }}">
                                    <input type="submit" class="submit_btn btn col border border-dark butW" value="&#9998;">
                                </form>
                        <form  action="/map_search" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="save_data" value="false">

        <input type="hidden"  name="journey_id" value="{{ journey.pk }}">
                                    <input type="hidden"  name="point_id" value="{{ p.pk }}">
                                    <input type="submit" class="submit_btn btn col border border-dark butW ps-2 "  value="&#x1F30D;">
                                </form>




                    </div>
                </div>
                <div class="row  pt-4 pb-2 collapse {% if p.status.id == 1 %} statDefault {% elif p.status.id == 2 %} statTodo {% else %} statDone {% endif %}"  id="mainelement{{ p.id }}">
                        <div class="col-12">
<div class="py-1">
    {{ p.description }}
</div>
                            <div class="py-1">
    {{ p.address }}
</div>
<div class="py-1">
    Cost: {{ p.cost }}
</div>

                            <div class="py-1 text-break">
    Link: <a href="{{ p.place_url }}" target="_blank">{{ p.place_url }}</a>
</div>
                            <div class="py-1 text-break">
    Map: <a href="{{ p.maps_url }}" target="_blank">{{ p.maps_url }}</a>
</div>
                    </div>


                </div>

                {% endif %}
                {% endfor %}
            </div>
                </div>
    </div>
            {% endfor %}
            <hr class="hr">
            <h5 class="d-flex justify-content-center">
                Journey Points
            </h5>
            {% for  p  in unassigned %}
            <div class="p-1">
                <div class="row border border-dark">
                    <div class="col-12">
        <div class="row py-1 border border-dark d-flex justify-content-between shadow statDefault">
            <div class="col-2 small  align-self-stretch">
                <div >{{ p.start_date|date:"d M (D)" }}</div>



        </div>
        <div class="col-6 " data-bs-toggle="collapse" data-bs-target="#element{{ p.id }}" aria-expanded="false" aria-controls="element{{ p.id }}">
{{ p.name }}
        </div>

            <div class="col-3 d-flex align-self-center justify-content-end px-1" >


<div >
        <form  class="" action="/view_journey" method="post">
                                    {% csrf_token %}
            <input type="hidden"  name="assign_point" value="{{ p.pk }}">
            <input type="hidden" name="plus_date" value="0">
            <input type="hidden" name="minus_date" value="0">

                                    <input type="hidden"  name="unassign_point" value="0">
            <input type="hidden"  name="journey_id" value="{{ journey.pk }}">
                                    <input type="submit" class="submit_btn btn col border border-dark butW" value="&#8648;">
                                </form>
    </div>
<div >
    <form  class="" action="/edit_point" method="post">
                                    {% csrf_token %}
        <input type="hidden" name="save_data" value="false">
                <input type="hidden" name="delete_data" value="false">
        <input type="hidden"  name="journey_id" value="{{ journey.pk }}">
                                    <input type="hidden"  name="point_id" value="{{ p.pk }}">
                                    <input type="submit" class="submit_btn btn col border border-dark butW" value="&#9998;">
                                </form>
</div>

                <form  action="/map_search" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="save_data" value="false">

        <input type="hidden"  name="journey_id" value="{{ journey.pk }}">
                                    <input type="hidden"  name="point_id" value="{{ p.pk }}">
                                    <input type="submit" class="submit_btn btn col border border-dark butW ps-2" value="&#x1F30D;">
                                </form>

            </div>


                </div>
<div class="row  pt-4 pb-2 collapse statDefault"  id="element{{ p.id }}">
                        <div class="col-12">
<div class="py-1">
    {{ p.description }}
</div>
                            <div class="py-1">
    {{ p.address }}
</div>
<div class="py-1">
    Cost: {{ p.cost }}
</div>

                            <div class="py-1">
    Link: <a href="{{ p.place_url }}" target="_blank">{{ p.place_url }}</a>
</div>
                            <div class="py-1">
    Map: <a href="{{ p.maps_url }}" target="_blank">{{ p.maps_url }}</a>
</div>

                    </div>


                </div>
                    </div>
                    </div>
    </div>

            {% endfor %}
            <div class="py-3">
                <div class="row ">
<div class="col ">
<form class="" action="/edit_point" method="post">
                                    {% csrf_token %}
                                    <input type="hidden"  name="point_id" value="0">
    <input type="hidden" name="journey_id" value="{{ journey.pk }}">
    <input type="hidden" name="save_data" value="false">
                <input type="hidden" name="delete_data" value="false">
    <div  class="d-grid gap-2">

        <input type="submit" class="submit_btn btn border border-dark default" value="Create New">

    </div>
                                     </form>
</div>
                </div>

            </div>

        </div>

    </div>

        </div>
<div>
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>

{% endblock %}
